.core-main-layout > div:nth-child(1) {
    min-width: 0;
}

.core-side-panel {
    height: 100%;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    table {
        width: 100%;
        margin: 16px 0;
    }
    .radio, .checkbox {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.core-side-panel > div:nth-child(1) {
    flex: 1;
}


table {
    th {
        text-transform: capitalize;
    }
    th:nth-child(1) {
        padding-right: 10px;
    }
    tbody {
        th {
            padding-right: 10px;
        }
        th:after {
            content: ':';
        }
    }
    background: white;
    border-spacing: 0;
    border-collapse: initial;
    border-width: 1px;
    box-shadow: 1px 1px 4px gray;
    padding: 8px;
}

.nav-menu-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: large;
    button {
        margin-right: 10px;
    }
}

.core-main-view {
    position: relative;
}

.chart {
    position: absolute;
    padding: 10px;
    bottom: 80px;
    top: 0;
    left: 0;
    right: 0;

    .chart-top {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-weight: bold;
    }
    .chart-bottom {
        display: flex;
        flex-direction: row-reverse;
    }
}

.leaflet-container {
    height: 260px;
}

.mobileNetworks {
    tr.selected {
        background-color: #ffcd00;
    }
}

.terminal-view {
    display: flex;
    flex-direction: column;
    height: 100%;

    .mono {
        font-family: monospace;
        font-size: 1em;
        font-weight: bold;
    }

    .terminal {
        overflow: scroll;
        flex: 1;
        user-select: text;
        background-color: #000000;
        padding: 10px;

        // in order to avoid bootstrap pre styling conflict:
        pre {
            display: initial;
            padding: initial;
            line-height: initial;
            word-break: initial;
            word-wrap: initial;
            background-color: initial;
            border: initial;
            border-radius: initial;
            margin: initial;
            font-size: inherit;
            color: #cccccc;
        }
        .tx::after, .rx::after, .unsolicited::after {
            content: "";
            display: block;
            clear: both;
        }
        .ctrl-char {
            color: #666666;
            user-select: none;
        }
        .tx pre {
            color: #ffcd00;
        }
        .unsolicited pre {
            color: #72B3CF;
        }

        .ctrl-char::before {
            color: #666666;
            font-size: smaller;
            margin: 3px;
        }
        .NUL::before { content: "NUL"; }
        .SOH::before { content: "SOH"; }
        .STX::before { content: "STX"; }
        .ETX::before { content: "ETX"; }
        .EOT::before { content: "EOT"; }
        .ENQ::before { content: "ENQ"; }
        .ACK::before { content: "ACK"; }
        .BEL::before { content: "BEL"; }
        .BS::before { content: "BS"; }
        .TAB::before { content: "TAB"; }
        .LF::before { content: "LF"; }
        .VT::before { content: "VT"; }
        .FF::before { content: "FF"; }
        .CR::before { content: "CR"; }
        .SO::before { content: "SO"; }
        .SI::before { content: "SI"; }
        .DLE::before { content: "DLE"; }
        .DC1::before { content: "DC1"; }
        .DC2::before { content: "DC2"; }
        .DC3::before { content: "DC3"; }
        .DC4::before { content: "DC4"; }
        .NAK::before { content: "NAK"; }
        .SYN::before { content: "SYN"; }
        .ETB::before { content: "ETB"; }
        .CAN::before { content: "CAN"; }
        .EM::before { content: "EM"; }
        .SUB::before { content: "SUB"; }
        .ESC::before { content: "ESC"; }
        .FS::before { content: "FS"; }
        .GS::before { content: "GS"; }
        .RS::before { content: "RS"; }
        .US::before { content: "US"; }
        .DEL::before { content: "DEL"; }
    }
}

.glyphicon.terminal-info {
    font-size: large;
}

.saved-commands {
    display: flex;
    flex-flow: row wrap;
    button {
        width: 20%;
        height: 32px;
        margin: -1px;
    }
}

.connection-stages {
    display: flex;
    justify-content: center;
}

$level-0: #BB0000;
$level-1: #FFCD00;
$level-2: #6BAD37;
$level-3: #44AA44;
$disabled: #888888;

@keyframes level-1 { 0% { background-color: $level-0; } 100% { background-color: $level-1; } }
@keyframes level-2 { 0% { background-color: $level-1; } 100% { background-color: $level-2; } }

.indicator.on       { background-color: $level-3; }
.indicator.off      { background-color: $level-0; }
.indicator.level-1  { animation: level-1 1s ease infinite alternate; }
.indicator.level-2  { animation: level-2 1s ease infinite alternate; }
.indicator {
    font-weight: bold;
    display: inline-block;
    color: white;
    padding: 0 6px;
    margin-right: 4px;
    background-color: $disabled;
    transition: background-color 0.4s ease;
}

.popover-content ul {
    list-style: none;
    margin: 0;
    li::before {
        content: "\2589";
        font-weight: bold;
        display: inline-block;
        width: 2em;
        margin-left: -2em;
        color: $disabled;
    }
    li.off::before     { color: $level-0; }
    li.level-1::before { color: $level-1; }
    li.level-2::before { color: $level-2; }
    li.on::before      { color: $level-3; }
}

.popover {
    max-width: 450px;
}

.panel-group.settings {
    margin: -10px -15px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    .rangeslider {
        flex: 1;
        margin: 18px 10px 0 10px;
        .rangeslider__handle {
            width: 10px;
            border-radius: 0px;
            box-shadow: none;
            transform: translate(-50%, -50%);
            &:after {
                display: none;
            }
        }
        .rangeslider__handle:focus {
            outline: none;
        }
        .rangeslider__labels .rangeslider__label-item {
            transform: translate(-50%, 0);
        }
    }
    .rangeslider-horizontal {
        border-radius: 0px;
        .rangeslider__fill {
            background-color: #0080B7;
            border-radius: 0px;
        }
    }
}

.form-control, .input-group-addon {
    border-radius: 0px;
}
